@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:wght@100..900&family=Suez+One&display=swap");
:root {
  --primary-bg-color: #f8faff;
  --secondary-bg-color: white;
  --praimary-blue-color: #0091b4;
  --defult-border-radius: 7px;
  --primary-text-color: #212529;
  --secondary-text-color: #0091b4;
  --gray-text-color: #6a7383;
  --defult-cards-gap: 15px;
  --light-gray-color: #5756568c;
  --blue-image-filter: brightness(0) saturate(100%) invert(40%) sepia(37%)
    saturate(4683%) hue-rotate(166deg) brightness(92%) contrast(101%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
  color: var(--primary-text-color);
}
.container {
  display: grid;
  grid-template-areas:
    "header sidebar"
    "main sidebar";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.blue-text {
  color: var(--secondary-text-color);
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
.space-btw {
  justify-content: space-between;
}
/* ---------------Start sidebar menu --------------- */
.sidebar-container {
  grid-area: sidebar;
  width: 300px;
  background-color: var(--secondary-bg-color);
  direction: rtl;
}
.sidebar-container .sidebar-head {
  padding: 40px 30px;
  border-bottom: 1px solid #5756561c;
  justify-content: space-between;
}
.sidebar-container .logo,
.sidebar-container .collapse-icon {
  cursor: pointer;
}
.sidebar-container .menu-content {
  padding: 30px;
  gap: 10px;
  line-height: 2.5;
}
.sidebar-container .menu-content ul li a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--gray-text-color);
}
.sidebar-container .menu-content ul li a:hover {
  color: var(--secondary-text-color);
}

.sidebar-container .menu-content ul li a:hover img {
  filter: var(--blue-image-filter);
}
.sidebar-container .menu-content ul li a.active {
  color: var(--secondary-text-color);
  position: relative;
}
.sidebar-container .menu-content ul li a.active::before {
  position: absolute;
  content: "";
  background-color: var(--secondary-text-color);
  width: 6px;
  height: 100%;
  top: 0;
  right: -30px;
}
.sidebar-container .menu-content ul li a.active img {
  filter: var(--blue-image-filter);
}

.sidebar-container .menu-content h5 {
  margin-top: 10px;
  color: var(--primary-text-color);
}
.sidebar-container .sub-menu-list {
  gap: 12px;
}

/* ----start collapsed sidebar--------  */
.collapsed-sidebar {
  grid-area: sidebar;
  width: 100px;
  background-color: var(--secondary-bg-color);
}
.collapsed-sidebar .sidebar-head {
  width: 100%;
  padding: 40px 30px;
  border-bottom: 1px solid #5756561c;
  display: flex;
  justify-content: center;
}

.collapsed-sidebar .collapse-icon {
  cursor: pointer;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.collapsed-sidebar .menu-content {
  padding: 30px;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
.collapsed-sidebar .menu-content ul li a {
  display: flex;
  margin-bottom: 15px;
}

.collapsed-sidebar .menu-content ul li a.active img {
  filter: var(--blue-image-filter);
}
.collapsed-sidebar .menu-content h5 {
  margin-top: 10px;
  color: var(--light-gray-color);
}
.collapsed-sidebar ul li a:hover img {
  filter: var(--blue-image-filter);
}
/* ----end collapsed sidebar--------  */
/* ---------------End sidebar menu -----------------  */

/* ---------- Start header -----------------  */
.header {
  grid-area: header;
  height: 120px;
  margin: 0 15px 15px;
  background-color: var(--secondary-bg-color);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 20px;
  justify-content: space-between;
  text-align: right;
  direction: rtl;
}
.header .path {
  text-wrap: nowrap;
  margin-left: 10px;
}
.header .path p {
  color: var(--light-gray-color);
}
.header .path a.active {
  color: var(--secondary-text-color);
}
.header .user-functions {
  gap: 20px;
}
.header .search {
  padding: 5px 15px;
  border: 1px solid #e4e4e4;
  border-radius: var(--defult-border-radius);
  width: 300px;
}
.header .search input {
  text-align: right;
  margin-right: 5px;
  border: none;
  width: 100%;
}
.header .search input::placeholder {
  color: var(--light-gray-color);
}
.header .language {
  border: 1px solid #e4e4e4;
  padding: 5px;
  border-radius: var(--defult-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
.header .language select {
  border: none;
  appearance: none;
}
.header .language select:focus,
.header .search input:focus {
  outline: none;
}
.header .user-info {
  width: 180px;
  justify-content: space-between;
  cursor: pointer;
}
.header .user-info div {
  gap: 10px;
}
.header .user-functions > img {
  cursor: pointer;
}
.header .user-functions .user-img-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../assets/images/user-bg.png");
  background-size: 100% 100%;
}
.header .user-functions .user-img-bg .user-img {
  width: 100%;
}
/* --------- End header ------------------  */

/* -------------- Start main ----------------------  */
/* main components */
.light-blue-bg {
  background-color: #0090b411;
  color: #0091b4;
}
.light-green-bg {
  background-color: #559a3813;
  color: #559a38;
}
.light-orange-bg {
  background-color: #d9ab4915;
}
.light-red-bg {
  background-color: #dc354615;
  color: #dc3546;
}
.light-gray-bg {
  background-color: #f8f9fa;
}
.sm-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.blue-bg {
  background-color: var(--praimary-blue-color);
}
.green-bg {
  background-color: #559a38;
}
.gap-10 {
  gap: 10px;
}
.status {
  padding: 0px 9px;
  border-radius: 4px;
  width: fit-content;
}
.status p {
  font-size: 10px;
  font-weight: 700;
}
.main-container {
  grid-area: main;
  margin: 0 15px 30px;
  direction: rtl;
}
.main-container .card {
  border-radius: var(--defult-border-radius);
  background-color: var(--secondary-bg-color);
  width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(87, 86, 86, 0.07);
  padding: 20px;
}
.btn {
  padding: 8px 12px;
  border-radius: var(--defult-border-radius);
  cursor: pointer;
}
.btn-primary {
  background-color: var(--praimary-blue-color);
  color: white;
  border: none;
}
.functions-icon {
  padding: 8px;
  box-shadow: 0px 4px 16px 0px rgba(87, 86, 86, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
/* ---------------- */
.main-container .statistics-cards-container {
  gap: var(--defult-cards-gap);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.statistics-cards-container .card {
  justify-content: space-between;
}
.statistics-cards-container .card h6 {
  color: var(--gray-text-color);
}
.statistics-cards-container .icon-bg {
  border-radius: var(--defult-border-radius);
  padding: 10px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.charts-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: var(--defult-cards-gap);
  gap: var(--defult-cards-gap);
}
.charts-cards-container .services-list-card {
  gap: 20px;
}
.charts-cards-container .card-head {
  justify-content: space-between;
}
.charts-cards-container .card-head h3 {
  color: var(--secondary-text-color);
}
.charts-cards-container .card-head .filter-icon {
  padding: 2px 8px;
  border-radius: var(--defult-border-radius);
  cursor: pointer;
}
.charts-cards-container .services-list-card .card-head div {
  gap: 15px;
}
.charts-cards-container .services-list-card .employee-list-imgs {
  gap: 13px;
  align-items: flex-start;
}
.charts-cards-container .services-list-card .employee-list-imgs div {
  align-items: center;
}

.charts-cards-container .employee-list-imgs img {
  width: 32px;
  height: 32px;
  border: 2px solid var(--praimary-blue-color);
  border-radius: 50%;
}
.charts-cards-container .employee-list-imgs div h6 {
  font-size: 10px;
  color: var(--gray-text-color);
  text-wrap: nowrap;
}
.charts-cards-container .services-list {
  gap: 3px;
}
.charts-cards-container .services-list .service-item {
  justify-content: space-between;
}
.charts-cards-container .services-list .service-item p {
  font-size: 11px;
}
.charts-cards-container .services-list .service-item h6 {
  font-size: 14px;
}
.charts-cards-container .services-list .service-item div:first-child div {
  gap: 10px;
}
.charts-cards-container .services-list .service-item div:last-child {
  gap: 15px;
}

.charts-cards-container .chart-card .card-head {
  align-items: flex-start;
}
.charts-cards-container .chart-card .card-head p {
  font-size: 12px;
  color: var(--gray-text-color);
}
.charts-cards-container .chart-card .chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.charts-cards-container .chart-card .chart-content {
  justify-content: space-between;
}
.charts-cards-container .chart-card .chart-content div {
  gap: 10px;
}
.charts-cards-container .chart-card .chart-content p {
  font-size: 13px;
  color: var(--gray-text-color);
}
.charts-cards-container .chart-card .chart-content .ratio {
  font-size: 10px;
  padding: 3px 8px;
  border-radius: var(--defult-border-radius);
}

.workshops-container .workshop-head {
  justify-content: space-between;
  margin-top: var(--defult-cards-gap);
  margin-bottom: 17px;
}
.workshops-container .workshop-head h3 {
  color: var(--secondary-text-color);
}
.workshops-container .workshops-cards-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: var(--defult-cards-gap);
}
.workshops-container .icon-bg {
  border-radius: var(--defult-border-radius);
  padding: 12px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.workshops-cards-container .card-head {
  justify-content: space-between;
  margin-bottom: 20px;
}
.workshops-cards-container .card-content {
  gap: 5px;
}
.workshops-cards-container .card-content div {
  justify-content: space-between;
}
.workshops-cards-container .card-content div h4 {
  font-size: 11px;
  color: var(--gray-text-color);
  font-weight: 800;
}
.workshops-cards-container .card-content div p {
  color: var(--gray-text-color);
  font-size: 10px;
}
/* -------------- End main ----------------------  */

/* for small screen */
@media screen and (max-width: 1270px) {
  .header .search {
    width: 200px;
  }
  .header .user-info {
    width: 150px;
  }
  .sidebar-container {
    width: 250px;
  }
}
/* -------------------------- */

.hide {
  display: none;
}
.show {
  display: block;
}
