@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Inter:wght@100..900&family=Suez+One&display=swap");
:root {
  --primary-bg-color: #f9fafb;
  --secondary-bg-color: white;
  --praimary-color: #1b8354;
  --defult-border-radius: 7px;
  --sm-border-radius: 4px;
  --primary-text-color: #0d121c;
  --text-display: #1f2a37;
  --secondary-text-color: #1b8354;
  --gray-text-color: #6a7383;
  --defult-cards-gap: 15px;
  --light-gray-color: #5756568c;
  --green-image-filter: brightness(0) saturate(100%) invert(37%) sepia(87%)
    saturate(348%) hue-rotate(101deg) brightness(93%) contrast(98%);
  --box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.05),
    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  overflow-x: hidden;
  color: var(--primary-text-color);
}
.container {
  display: grid;
  grid-template-areas:
    "header sidebar"
    "main sidebar";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.blue-text {
  color: var(--secondary-text-color);
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
.space-btw {
  justify-content: space-between;
}
.gap-12 {
  gap: 12px;
}
.gap-10 {
  gap: 10px;
}
.gap-30 {
  gap: 30px;
}
/* ---------------Start sidebar menu --------------- */
.sidebar-container {
  grid-area: sidebar;
  width: 280px;
  background-color: var(--secondary-bg-color);
  direction: rtl;
  overflow: scroll;
  box-shadow: 0px 4px 16px 0px rgba(87, 86, 86, 0.07);
}
.sidebar-container::-webkit-scrollbar {
  display: none;
}
.sidebar-container .sidebar-head {
  padding: 40px 30px;
  border-bottom: 1px solid #d2d6db;
  justify-content: space-between;
  background-color: #f9fafb;
  height: 72px;
}
.sidebar-container .collapse-icon {
  border: 1px solid var(--praimary-color);
  border-radius: 50%;
  padding: 9px;
  height: 36px;
  width: 36px;
}
.sidebar-container .collapse-icon {
  margin-top: 3px;
}
.sidebar-container .logo,
.sidebar-container .collapse-icon {
  cursor: pointer;
}
.sidebar-container .menu-content {
  padding: 30px 20px;
  gap: 10px;
  line-height: 2.5;
}
.sidebar-container .menu-content ul li {
  margin-bottom: 2px;
}
.sidebar-container .menu-content ul li a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--primary-text-color);
  font-weight: 600;
  padding-right: 20px;
  padding-left: 8px;
}
.sidebar-container .menu-content ul li a:hover {
  background-color: #f3f4f6;
  border-radius: var(--sm-border-radius);
  position: relative;
}
.sidebar-container .menu-content ul li a:hover::before {
  position: absolute;
  content: "";
  background-color: #9da4ae;
  width: 7px;
  height: 26px;
  top: 6px;
  right: 0px;
  border-radius: 9px;
}

.sidebar-container .menu-content > ul > li > a.active {
  color: var(--secondary-text-color);
  position: relative;
  font-weight: 700;
  background-color: #e5e7eb;
  border-radius: var(--sm-border-radius);
  margin-bottom: 2px;
}
.sidebar-container .menu-content ul li a.active::before {
  position: absolute;
  content: "";
  background-color: var(--secondary-text-color);
  width: 7px;
  height: 26px;
  top: 6px;
  right: 0px;
  border-radius: 9px;
}
.sidebar-container .menu-content ul li a.active img {
  filter: var(--green-image-filter);
}

.sidebar-container .menu-content h5 {
  margin-top: 10px;
  color: #9da4ae;
  font-weight: 600;
  font-size: 16px;
}

.sidebar-container .sub-menu-list {
  margin-bottom: 30px;
}
.sidebar-container div .sub-menu-list li a {
  padding-right: 56px;
  position: relative;
  font-weight: 400;
}

.sidebar-container .sub-menu-list li a:hover {
  background-color: #f3f4f6;
  border-radius: var(--sm-border-radius);
  position: relative;
}
.sidebar-container .sub-menu-list li a:hover::before {
  position: absolute;
  content: "";
  background-color: #9da4ae;
  width: 7px;
  height: 26px;
  top: 7px;
  right: 0px;
  border-radius: 9px;
}

.sidebar-container .sub-menu-list li a.active {
  color: var(--secondary-text-color);
  position: relative;
  font-weight: 700;
  background-color: #e5e7eb;
  border-radius: var(--sm-border-radius);
}
.sidebar-container .sub-menu-list li a.active::before {
  position: absolute;
  content: "";
  background-color: var(--secondary-text-color);
  width: 7px;
  height: 26px;
  top: 7px;
  right: 0px;
  border-radius: 9px;
}

.flip-img-y {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.sidebar-container .drawer-line img {
  width: 98%;
}
/* ----start collapsed sidebar--------  */
.collapsed-sidebar {
  grid-area: sidebar;
  width: 100px;
  background-color: var(--secondary-bg-color);
}
.collapsed-sidebar .sidebar-head {
  width: 100%;
  padding: 20px 30px;
  border-bottom: 1px solid #d2d6db;
  display: flex;
  justify-content: center;
  height: 72px;
  background-color: #f9fafb;
}

.collapsed-sidebar .collapse-icon {
  cursor: pointer;
  background-color: var(--praimary-color);
  border-radius: 50%;
  padding: 9px;
  height: 36px;
  width: 36px;
}
.collapsed-sidebar .menu-content {
  padding: 30px;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
.collapsed-sidebar .menu-content ul li a {
  display: flex;
  margin-bottom: 15px;
}

.collapsed-sidebar .menu-content ul li a.active img {
  filter: var(--green-image-filter);
}
.collapsed-sidebar .menu-content h5 {
  margin-top: 10px;
  color: var(--light-gray-color);
}
.collapsed-sidebar ul li a:hover img {
  filter: var(--green-image-filter);
}

.sm-screen-close-icon {
  cursor: pointer;
  display: none;
}
.collapsed-sidebar .collapse-drawer-line img {
  width: 100%;
}
/* ----end collapsed sidebar--------  */
.md-screen-menu-icon,
.sm-screen-close-icon {
  border: 1px solid var(--praimary-color);
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
}
/* ---------------End sidebar menu -----------------  */

/* ---------- Start header -----------------  */
.header {
  grid-area: header;
  height: 120px;
  margin: 0 15px 15px;
  background-color: var(--secondary-bg-color);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 20px;
  justify-content: space-between;
  text-align: right;
  direction: rtl;
  box-shadow: 0px 4px 16px 0px rgba(87, 86, 86, 0.07);
}
.header h2 {
  font-size: 30px;
}
.header .path {
  text-wrap: nowrap;
  margin-left: 10px;
}
.header .path p {
  color: var(--light-gray-color);
  font-size: 14px;
}
.header .path a.active {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.header .user-functions {
  gap: 20px;
}
.header .search {
  padding: 6px 16px;
  border: 1px solid #e4e4e4;
  border-radius: var(--defult-border-radius);
  width: 300px;
}
.header .search input {
  text-align: right;
  margin-right: 12px;
  border: none;
  width: 100%;
}
.header .search input::placeholder {
  color: var(--text-display);
}
.header .language {
  border: 1px solid #e4e4e4;
  padding: 9px 7px;
  border-radius: var(--defult-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
.header .language select {
  border: none;
  appearance: none;
  font-size: 14px;
  font-weight: 600;
}
.header .language select:focus,
.header .search input:focus {
  outline: none;
}
.header .user-info {
  width: 180px;
  justify-content: space-between;
  cursor: pointer;
  color: var(--text-display);
}
.header .user-info div {
  gap: 10px;
}
.header .user-functions > img {
  cursor: pointer;
}
.header .user-functions .user-img-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../assets/images/user-bg.png");
  background-size: 100% 100%;
}
.header .user-functions .user-img-bg .user-img {
  width: 100%;
}
.header .search-icon {
  display: none;
}
.header .logo-menu-icons {
  display: none;
}
/* --------- End header ------------------  */

/* -------------- Start main ----------------------  */
/*-------- main components-------- */
.light-blue-bg {
  background-color: #0090b411;
  color: #0091b4;
}
.light-green-bg {
  background-color: #ecfdf3;
  color: #1b8354;
}
.light-yellow-bg {
  background-color: #f7d54d1a;
  color: #945c01;
}
.light-gray-bg {
  background-color: #f8f9fa;
}

/* --- status colors --- */
.light-neutral-bg {
  color: #1f2a37;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
}
.light-success-bg {
  background-color: #ecfdf3;
  color: #559a38;
  border: 1px solid #abefc6;
}
.light-success-bg > img {
  filter: var(--green-image-filter);
}
.light-warning-bg {
  background-color: #d9ab4915;
  color: #93370d;
  border: 1px solid #fedf89;
}
.light-warning-bg > img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(90%) saturate(940%)
    hue-rotate(349deg) brightness(96%) contrast(99%);
}
.light-error-bg {
  background-color: #dc354615;
  color: #912018;
  border: 1px solid #dc354615;
}
.light-error-bg > img {
  filter: brightness(0) saturate(100%) invert(21%) sepia(81%) saturate(1677%)
    hue-rotate(342deg) brightness(81%) contrast(101%);
}

.light-info-bg {
  background-color: #eff8ff;
  color: #1849a9;
  border: 1px solid #b2ddff;
}
.light-info-bg img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(75%) saturate(2606%)
    hue-rotate(213deg) brightness(74%) contrast(91%);
}
.info-border {
  border: 1px solid #0091b4;
}
.success-border {
  border: 1px solid #559a38;
}
.warning-border {
  border: 1px solid #b54708;
}
.error-border {
  border: 1px solid #b42318;
}
/* ----------- */
.yellow-bg {
  background-color: #f7d54d;
}
.blue-bg {
  background-color: #0091b4;
}
.green-bg {
  background-color: #559a38;
}
.sm-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.status {
  padding: 0px 9px;
  border-radius: var(--sm-border-radius);
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.status p {
  font-size: 10px;
  font-weight: 700;
}

.main-container {
  grid-area: main;
  margin: 0 15px 30px;
  direction: rtl;
}
.main-container .card {
  border-radius: var(--defult-border-radius);
  background-color: var(--secondary-bg-color);
  width: 100%;
  box-shadow: var(--box-shadow);
  padding: 20px;
}
.btn {
  padding: 8px 12px;
  border-radius: var(--sm-border-radius);
  cursor: pointer;
}
.btn-primary {
  background-color: var(--praimary-color);
  color: white;
  border: none;
}
.btn-secondary {
  background-color: transparent;
  color: var(--text-display);
  border: 1px solid #d2d6db;
}
.functions-icon {
  padding: 8px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--sm-border-radius);
  cursor: pointer;
}
/* ---------------- */
.main-container .statistics-cards-container {
  gap: var(--defult-cards-gap);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.statistics-cards-container .card {
  justify-content: space-between;
}
.statistics-cards-container .card h6 {
  color: var(--gray-text-color);
}
.statistics-cards-container .icon-bg {
  border-radius: var(--defult-border-radius);
  padding: 10px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.charts-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: var(--defult-cards-gap);
  gap: var(--defult-cards-gap);
}
.charts-cards-container .services-list-card {
  gap: 20px;
}
.charts-cards-container .card-head {
  justify-content: space-between;
}
.charts-cards-container .card-head h3 {
  color: var(--secondary-text-color);
  font-size: 24px;
}
.charts-cards-container .card-head .filter-icon {
  padding: 5px 8px;
  border-radius: var(--sm-border-radius);
  cursor: pointer;
}
.charts-cards-container .card-head .filter-icon img {
  vertical-align: middle;
}
.charts-cards-container .services-list-card .card-head div {
  gap: 15px;
}
.charts-cards-container .services-list-card .employee-list-imgs {
  gap: 13px;
}
.charts-cards-container .services-list-card .employee-list-imgs div {
  align-items: center;
}

.charts-cards-container .employee-list-imgs img {
  width: 32px;
  height: 32px;
  border: 2px solid var(--praimary-color);
  border-radius: 50%;
}
.charts-cards-container .employee-list-imgs div h6 {
  font-size: 10px;
  color: var(--gray-text-color);
  text-wrap: nowrap;
}
.charts-cards-container .services-list {
  gap: 4px;
}
.charts-cards-container .services-list .service-item {
  justify-content: space-between;
}
.charts-cards-container .services-list .service-item p {
  font-size: 12px;
}
.charts-cards-container .services-list .service-item p.date {
  color: #6a7383;
}
.charts-cards-container .services-list .service-item h6 {
  font-size: 16px;
  font-weight: 600;
}
.charts-cards-container .services-list .service-item div:first-child div {
  gap: 10px;
}
.charts-cards-container .services-list .service-item div:last-child {
  gap: 15px;
}

.charts-cards-container .chart-card .card-head {
  align-items: flex-start;
}
.charts-cards-container .chart-card .card-head p {
  font-size: 12px;
  color: var(--gray-text-color);
}
.charts-cards-container .chart-card .chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.charts-cards-container .chart-card .chart-content {
  justify-content: space-between;
}
.charts-cards-container .chart-card .chart-content div {
  gap: 10px;
}
.charts-cards-container .chart-card .chart-content p {
  font-size: 13px;
  color: var(--gray-text-color);
}
.charts-cards-container .ratio {
  font-size: 10px;
  font-weight: 500;
  padding: 3px 8px;
  border-radius: 16px;
}
.charts-cards-container .consults-charts-content {
  padding: 20px;
}
.workshops-container .workshop-head {
  justify-content: space-between;
  margin-top: var(--defult-cards-gap);
  margin: 25px 0px;
}
.workshops-container .workshop-head h3 {
  color: var(--secondary-text-color);
  font-size: 24px;
}
.workshops-container .workshops-cards-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: var(--defult-cards-gap);
}
.workshops-container .icon-bg {
  border-radius: 50%;
  padding: 12px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.workshops-container .icon-bg img {
  width: 24px;
  height: 24px;
}
.workshops-cards-container .card-head {
  margin-bottom: 10px;
}
.workshops-cards-container .card-head h4 {
  font-size: 20px;
}
.workshops-cards-container .card-content {
  gap: 20px;
}

.workshops-cards-container .card-content div h4 {
  font-size: 11px;
  color: var(--text-display);
  font-weight: 800;
}
.workshops-cards-container .card-content div p {
  color: var(--text-display);
  font-size: 10px;
}
.workshops-cards-container .card-content div .status p {
  color: #1849a9;
}

.charts-cards-container .measurement-list-card {
  grid-column: span 2;
}
.measurement-list-card .measurement-chart {
  width: 100%;
}
.measurement-list-card .measurement-chart img {
  width: 100%;
}
.no-wrap {
  white-space: nowrap;
}
.measurement-list-card .services-list {
  width: 100%;
}
.no-service-box {
  margin: 60px auto;
  text-align: center;
}
.no-service-box .btn {
  margin-top: 30px;
  width: 84px;
  align-items: center;
}
.no-service-box p {
  color: #6a7383;
  font-size: 12px;
}
.charts-cards-container .card {
  min-height: 400px;
}
.employee-list-imgs .add-img-icon {
  border: 1px solid #d2d6db;
  border-radius: var(--sm-border-radius);
  padding: 4px 4px 0px;
}
.employee-list-imgs .add-img-icon img {
  border: none;
  width: 22px;
  height: 22px;
}
.consults-chart .chart-content {
  font-size: 13px;
}
.charts-cards-container .consults-list-card {
  grid-column: span 2;
}
.consults-list-card .services-list {
  width: 100%;
  margin-top: 20px;
}
.consults-chart {
  width: 100%;
}
.consults-chart img {
  max-width: 100%;
}
/* -------------- End main ----------------------  */

/* for medium screen */
@media screen and (max-width: 1366px) {
  .charts-cards-container .card-head h3,
  .workshops-container .workshop-head h3 {
    font-size: 20px;
  }
  .workshops-cards-container .card-head h4 {
    font-size: 16px;
  }
  .charts-cards-container .services-list .service-item h6 {
    font-size: 14px;
    white-space: nowrap;
  }
  .services-list .service-item {
    gap: 5px;
  }
  .consults-charts-content div {
    gap: 10px;
  }
  .header h2 {
    font-size: 24px;
  }
  .header .search {
    width: 200px;
  }
  .header .user-info {
    width: 150px;
  }

  .workshops-cards-container .card-content div .status p {
    white-space: nowrap;
  }
  .header .user-info {
    gap: 7px;
  }
  .header .user-info h5,
  .services-list .service-item p {
    white-space: nowrap;
  }
  .sidebar-container .menu-content ul li a {
    font-size: 15px;
  }
  .card .consults-content {
    gap: 5px;
  }
}

@media screen and (max-width: 1208px) {
  .header {
    margin-left: 0;
    margin-right: 0;
  }
  .header .path {
    display: none;
  }
  .sidebar-container {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 3;
  }
  .sidebar-container .sub-menu-list li a:hover::after,
  .sidebar-container .sub-menu-list li a.active::after {
    width: 109%;
  }

  .collapse-icon {
    display: none;
  }
  .sm-screen-close-icon {
    display: block;
  }
  .overlay-bg {
    display: none;
    background-color: #21252952;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
  }
  .stop-scroll {
    height: 100vh;
    overflow: hidden;
  }
  .collapsed-sidebar {
    display: none;
  }
  .header .logo-menu-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .header .search {
    display: none;
  }
  .header .search-icon {
    display: block;
  }
  .header .user-info h5 {
    display: none;
  }
  .header .user-info {
    width: 70px;
    justify-content: space-between;
  }
  .main-container .statistics-cards-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main-container .charts-cards-container {
    grid-template-columns: 1fr;
    column-gap: 0;
    /* grid-template-rows: 1fr 1fr 1fr; */
  }

  .main-container .workshops-cards-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .charts-cards-container .measurement-list-card {
    grid-column: span 1;
  }
}

/* for small/mobile screen  */
@media screen and (max-width: 767px) {
  .header .search-icon,
  .header .language,
  .header .user-functions > img {
    display: none;
  }

  .main-container .statistics-cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .main-container .workshops-cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .charts-cards-container .measurement-list-card > div:nth-child(3) {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }
  .charts-cards-container .measurement-list-card .services-list {
    width: 100%;
  }
  .charts-cards-container .consults-content {
    flex-direction: column;
  }
  .consults-chart {
    margin-top: 30px;
  }
}
/* ----------------------- */
/* -------------------------- */

.hide {
  display: none;
}
.show {
  display: block;
}
