@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Inter:wght@100..900&family=Suez+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Inter:wght@100..900&family=Readex+Pro:wght@160..700&family=Suez+One&display=swap");

:root {
  --primary-bg-color: #f9fafb;
  --secondary-bg-color: white;
  --praimary-color: #1b8354;
  --defult-border-radius: 7px;
  --sm-border-radius: 4px;
  --primary-text-color: #0d121c;
  --text-display: #1f2a37;
  --secondary-text-color: #1b8354;
  --gray-text-color: #6a7383;
  --defult-cards-gap: 15px;
  --light-gray-color: #5756568c;
  --green-image-filter: brightness(0) saturate(100%) invert(37%) sepia(87%)
    saturate(348%) hue-rotate(101deg) brightness(93%) contrast(98%);
  --box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.05),
    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------Grid System----------- */

/* Row */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--bs-gutter-x, 0) * -0.5);
  margin-left: calc(var(--bs-gutter-x, 0) * -0.5);
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x, 0) * 0.5);
  padding-left: calc(var(--bs-gutter-x, 0) * 0.5);
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 8px;
  padding-right: 8px;
}

/* Columns */
.col {
  flex: 1 0 0%;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
.col-1 {
  flex: 0 0 auto;
  width: 8.333333%;
}
.col-2 {
  flex: 0 0 auto;
  width: 16.666667%;
}
.col-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-4 {
  flex: 0 0 auto;
  width: 33.333333%;
}
.col-5 {
  flex: 0 0 auto;
  width: 41.666667%;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-7 {
  flex: 0 0 auto;
  width: 58.333333%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.666667%;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.333333%;
}
.col-11 {
  flex: 0 0 auto;
  width: 91.666667%;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

/* Responsive Columns */
@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 800px) {
  .col-lg-2-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 991px) {
  .service-card {
    margin-top: 16px !important;
  }
}

@media (min-width: 1199px) {
  .col-lg-2-4 {
    flex: 0 0 33%;
    max-width: 33%;
  }
}

@media (min-width: 1523px) {
  .col-lg-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

/* -----------Grid System----------- */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  overflow-x: hidden;
  color: var(--primary-text-color);
}
.container {
  display: grid;
  grid-template-areas:
    "header sidebar"
    "main sidebar";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.blue-text {
  color: var(--secondary-text-color);
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
.space-btw {
  justify-content: space-between;
}
.gap-12 {
  gap: 12px;
}
.gap-10 {
  gap: 10px;
}
.gap-30 {
  gap: 30px;
}
.gap-8 {
  gap: 8px;
}
.gap-5 {
  gap: 5px;
}
/* ---------------Start sidebar menu --------------- */
.sidebar-container {
  grid-area: sidebar;
  width: 280px;
  background-color: var(--secondary-bg-color);
  direction: rtl;
  overflow: scroll;
  box-shadow: 0px 4px 16px 0px rgba(87, 86, 86, 0.07);
}
.sidebar-container::-webkit-scrollbar {
  display: none;
}
.sidebar-container .sidebar-head {
  padding: 40px 30px;
  border-bottom: 1px solid #d2d6db;
  justify-content: space-between;
  background-color: #f9fafb;
  height: 72px;
}
.sidebar-container .collapse-icon {
  border: 1px solid var(--praimary-color);
  border-radius: 50%;
  padding: 9px;
  height: 36px;
  width: 36px;
}
.sidebar-container .collapse-icon {
  margin-top: 3px;
}
.sidebar-container .logo,
.sidebar-container .collapse-icon {
  cursor: pointer;
}
.sidebar-container .menu-content {
  padding: 30px 20px;
  gap: 10px;
  line-height: 2.5;
}
.sidebar-container .menu-content ul li {
  margin-bottom: 2px;
}
.sidebar-container .menu-content ul li a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--primary-text-color);
  font-weight: 600;
  padding-right: 20px;
  padding-left: 8px;
}
.sidebar-container .menu-content ul li a:hover {
  background-color: #f3f4f6;
  border-radius: var(--sm-border-radius);
  position: relative;
}
.sidebar-container .menu-content ul li a:hover::before {
  position: absolute;
  content: "";
  background-color: #9da4ae;
  width: 7px;
  height: 26px;
  top: 6px;
  right: 0px;
  border-radius: 9px;
}

.sidebar-container .menu-content > ul > li > a.active {
  color: var(--secondary-text-color);
  position: relative;
  font-weight: 700;
  background-color: #e5e7eb;
  border-radius: var(--sm-border-radius);
  margin-bottom: 2px;
}
.sidebar-container .menu-content ul li a.active::before {
  position: absolute;
  content: "";
  background-color: var(--secondary-text-color);
  width: 7px;
  height: 26px;
  top: 6px;
  right: 0px;
  border-radius: 9px;
}
.sidebar-container .menu-content ul li a.active img {
  filter: var(--green-image-filter);
}

.sidebar-container .menu-content h5 {
  margin-top: 10px;
  color: #9da4ae;
  font-weight: 600;
  font-size: 16px;
}

.sidebar-container .sub-menu-list {
  margin-bottom: 30px;
}
.sidebar-container div .sub-menu-list li a {
  padding-right: 56px;
  position: relative;
  font-weight: 400;
}

.sidebar-container .sub-menu-list li a:hover {
  background-color: #f3f4f6;
  border-radius: var(--sm-border-radius);
  position: relative;
}
.sidebar-container .sub-menu-list li a:hover::before {
  position: absolute;
  content: "";
  background-color: #9da4ae;
  width: 7px;
  height: 26px;
  top: 7px;
  right: 0px;
  border-radius: 9px;
}

.sidebar-container .sub-menu-list li a.active {
  color: var(--secondary-text-color);
  position: relative;
  font-weight: 700;
  background-color: #e5e7eb;
  border-radius: var(--sm-border-radius);
}
.sidebar-container .sub-menu-list li a.active::before {
  position: absolute;
  content: "";
  background-color: var(--secondary-text-color);
  width: 7px;
  height: 26px;
  top: 7px;
  right: 0px;
  border-radius: 9px;
}

.flip-img-y {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.sidebar-container .drawer-line img {
  width: 98%;
}
/* ----start collapsed sidebar--------  */
.collapsed-sidebar {
  grid-area: sidebar;
  width: 100px;
  background-color: var(--secondary-bg-color);
}
.collapsed-sidebar .sidebar-head {
  width: 100%;
  padding: 20px 30px;
  border-bottom: 1px solid #d2d6db;
  display: flex;
  justify-content: center;
  height: 72px;
  background-color: #f9fafb;
}

.collapsed-sidebar .collapse-icon {
  cursor: pointer;
  background-color: var(--praimary-color);
  border-radius: 50%;
  padding: 9px;
  height: 36px;
  width: 36px;
}
.collapsed-sidebar .menu-content {
  padding: 30px;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
.collapsed-sidebar .menu-content ul li a {
  display: flex;
  margin-bottom: 15px;
}

.collapsed-sidebar .menu-content ul li a.active img {
  filter: var(--green-image-filter);
}
.collapsed-sidebar .menu-content h5 {
  margin-top: 10px;
  color: var(--light-gray-color);
}
.collapsed-sidebar ul li a:hover img {
  filter: var(--green-image-filter);
}

.sm-screen-close-icon {
  cursor: pointer;
  display: none;
}
.collapsed-sidebar .collapse-drawer-line img {
  width: 100%;
}
/* ----end collapsed sidebar--------  */
.md-screen-menu-icon,
.sm-screen-close-icon {
  border: 1px solid var(--praimary-color);
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
}
/* ---------------End sidebar menu -----------------  */

/* ---------- Start header -----------------  */
.header {
  grid-area: header;
  height: 120px;
  margin: 0 15px 15px;
  background-color: var(--secondary-bg-color);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 20px;
  justify-content: space-between;
  text-align: right;
  direction: rtl;
  box-shadow: 0px 4px 16px 0px rgba(87, 86, 86, 0.07);
}
.header h2 {
  font-size: 30px;
}
.header .path {
  text-wrap: nowrap;
  margin-left: 10px;
}
.header .path p {
  color: var(--light-gray-color);
  font-size: 14px;
}
.header .path a.active {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.header .user-functions {
  gap: 20px;
}
.header .search {
  padding: 6px 16px;
  border: 1px solid #e4e4e4;
  border-radius: var(--defult-border-radius);
  width: 300px;
}
.header .search input {
  text-align: right;
  margin-right: 12px;
  border: none;
  width: 100%;
}
.header .search input::placeholder {
  color: var(--text-display);
}
.header .language {
  border: 1px solid #e4e4e4;
  padding: 9px 7px;
  border-radius: var(--defult-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
.header .language select {
  border: none;
  appearance: none;
  font-size: 14px;
  font-weight: 600;
}
.header .language select:focus,
.header .search input:focus {
  outline: none;
}
.header .user-info {
  width: 180px;
  justify-content: space-between;
  cursor: pointer;
  color: var(--text-display);
}
.header .user-info div {
  gap: 10px;
}
.header .user-functions > img {
  cursor: pointer;
}
.header .user-functions .user-img-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../assets/images/user-bg.png");
  background-size: 100% 100%;
}
.header .user-functions .user-img-bg .user-img {
  width: 100%;
}
.header .search-icon {
  display: none;
}
.header .logo-menu-icons {
  display: none;
}
/* --------- End header ------------------  */

/* -------------- Start main ----------------------  */
/*-------- main components-------- */
.light-blue-bg {
  background-color: #0090b411;
  color: #0091b4;
}
.light-green-bg {
  background-color: #ecfdf3;
  color: #1b8354;
}
.light-yellow-bg {
  background-color: #f7d54d1a;
  color: #945c01;
}
.light-gray-bg {
  background-color: #f8f9fa;
}

/* --- status colors --- */
.light-neutral-bg {
  color: #1f2a37;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
}
.light-success-bg {
  background-color: #ecfdf3;
  color: #085d3a;
  border: 1px solid #abefc6;
}
.light-success-bg > img {
  filter: var(--green-image-filter);
}
.light-warning-bg {
  background-color: #d9ab4915;
  color: #93370d;
  border: 1px solid #fedf89;
}
.light-warning-bg > img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(90%) saturate(940%)
    hue-rotate(349deg) brightness(96%) contrast(99%);
}
.light-error-bg {
  background-color: #dc354615;
  color: #912018;
  border: 1px solid #dc354615;
}
.light-error-bg > img {
  filter: brightness(0) saturate(100%) invert(21%) sepia(81%) saturate(1677%)
    hue-rotate(342deg) brightness(81%) contrast(101%);
}

.light-info-bg {
  background-color: #eff8ff;
  color: #1849a9;
  border: 1px solid #b2ddff;
}
.light-info-bg img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(75%) saturate(2606%)
    hue-rotate(213deg) brightness(74%) contrast(91%);
}
.info-border {
  border: 1px solid #0091b4;
}
.success-border {
  border: 1px solid #559a38;
}
.warning-border {
  border: 1px solid #b54708;
}
.error-border {
  border: 1px solid #b42318;
}
.gray-border {
  border: 1px solid #d2d6db;
}
/* ----------- */
.yellow-bg {
  background-color: #f7d54d;
}
.blue-bg {
  background-color: #1849a9;
}
.green-bg {
  background-color: #559a38;
}
.red-bg {
  background-color: #d92d20;
}
.light-red-bg {
  background-color: #d92c2015;
  color: #d92d20;
}
.black-bg {
  background-color: #0d121c;
  color: #fff;
}
.sm-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.status {
  padding: 2px 9px;
  border-radius: var(--sm-border-radius);
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 15px;
}
.status p {
  font-size: 10px;
  font-weight: 700;
}

.main-container {
  grid-area: main;
  margin: 0 15px 30px;
  direction: rtl;
}
.main-container .card {
  border-radius: var(--defult-border-radius);
  background-color: var(--secondary-bg-color);
  width: 100%;
  box-shadow: var(--box-shadow);
  padding: 20px;
}
.btn {
  padding: 8px 16px;
  border-radius: var(--sm-border-radius);
  cursor: pointer;
}
.btn-primary {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: var(--praimary-color);
  color: white;
  border: none;
}
.btn-secondary {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: transparent;
  color: var(--text-display);
  border: 1px solid #d2d6db;
}
.btn-neutral {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: #0d121c;
  color: #fff;
  border: 1px solid transparent;
}
.functions-icon {
  padding: 8px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--sm-border-radius);
  cursor: pointer;
}
/* ---------------- */
.main-container .statistics-cards-container {
  gap: var(--defult-cards-gap);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.statistics-cards-container .card {
  justify-content: space-between;
}
.statistics-cards-container .card h6 {
  color: var(--gray-text-color);
  font-size: 14px;
  font-weight: 400;
}
.statistics-cards-container .icon-bg {
  border-radius: var(--defult-border-radius);
  padding: 10px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.charts-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: var(--defult-cards-gap);
  gap: var(--defult-cards-gap);
}
.charts-cards-container .services-list-card .services-list {
  margin-top: 20px;
  width: 100%;
}
.charts-cards-container .card-head {
  justify-content: space-between;
}
.charts-cards-container .card-head h3 {
  color: var(--secondary-text-color);
  font-size: 24px;
}
.charts-cards-container .card-head .filter-icon {
  padding: 5px 8px;
  border-radius: var(--sm-border-radius);
  cursor: pointer;
}
.charts-cards-container .card-head .filter-icon img {
  vertical-align: middle;
}
.charts-cards-container .services-list-card .card-head div {
  gap: 15px;
}

.employee-list-imgs div:not(:last-child) {
  min-width: 34px;
  min-height: 34px;
  border: 2px solid white;
  border-radius: 50%;
}
.employee-list-imgs .users-numbers {
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-width: 37px;
  min-height: 36px;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: -3px;
}
.employee-list-imgs .users-numbers p {
  color: #161616;
  font-size: 11px;
  font-weight: 600;
}

.charts-cards-container .employee-list-imgs img {
  width: 100%;
}
.employee-list-imgs .add-img-icon {
  border: 1px solid #d2d6db;
  border-radius: var(--sm-border-radius);
  padding: 4px;
  margin-right: 17px;
  width: 32px;
  height: 32px;
  margin-top: -3px;
}
.employee-list-imgs .add-img-icon img {
  width: 22px;
  height: 22px;
}
.charts-cards-container .services-list-card .employee-list-imgs {
  /* gap: -4px; */
  margin-top: 15px;
  display: flex;
  flex-direction: row-reverse;
  direction: ltr;
}
.charts-cards-container .services-list-card .employee-list-imgs div {
  margin-left: -6px;
  /* gap: -4px; */
}
.charts-cards-container .employee-list-imgs div h6 {
  font-size: 10px;
  color: var(--gray-text-color);
  text-wrap: nowrap;
}
.charts-cards-container .services-list {
  gap: 4px;
}
.charts-cards-container .services-list .service-item {
  justify-content: space-between;
  margin-top: 3px;
  gap: 15px;
}
.charts-cards-container .services-list .service-item p {
  font-size: 12px;
}
.charts-cards-container .services-list .service-item p.date {
  color: #6a7383;
}
.charts-cards-container .services-list .service-item h6 {
  font-size: 16px;
  font-weight: 600;
}
.charts-cards-container .services-list .service-item div:first-child div {
  gap: 8px;
}

.charts-cards-container .chart-card .card-head {
  align-items: flex-start;
}
.charts-cards-container .chart-card .card-head p {
  font-size: 12px;
  color: var(--gray-text-color);
}
.charts-cards-container .chart-card .chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.charts-cards-container .chart-card .chart-content {
  justify-content: space-between;
}
.charts-cards-container .chart-card .chart-content div {
  gap: 10px;
}
.charts-cards-container .chart-card .chart-content p {
  font-size: 13px;
  color: var(--gray-text-color);
}
.charts-cards-container .ratio {
  font-size: 10px;
  font-weight: 500;
  padding: 3px 8px;
  border-radius: 16px;
}
.charts-cards-container .consults-charts-content {
  padding: 20px;
}
.workshops-container .workshop-head {
  justify-content: space-between;
  margin-top: var(--defult-cards-gap);
  margin: 25px 0px;
}
.workshops-container .workshop-head h3 {
  color: var(--secondary-text-color);
  font-size: 24px;
}
.workshops-container .workshops-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--defult-cards-gap);
}
.workshops-container .workshops-cards-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.workshops-container .icon-bg {
  border-radius: 50%;
  padding: 12px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.workshops-container .icon-bg img {
  width: 24px;
  height: 24px;
}
.workshops-cards-container .card-head {
  margin-bottom: 15px;
}
.workshops-cards-container .card-head > p {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #1f2a37;
}
.workshops-cards-container .card-head h4 {
  font-size: 20px;
}
.workshops-cards-container .card-content {
  gap: 20px;
}

.workshops-cards-container .card-content div h4 {
  font-size: 11px;
  color: var(--text-display);
  font-weight: 800;
}
.workshops-cards-container .card-content div p {
  color: var(--text-display);
  font-size: 10px;
}
.workshops-cards-container .card-content div .status p {
  color: #1849a9;
}

.charts-cards-container .measurement-list-card {
  grid-column: span 2;
}
.measurement-list-card .measurement-chart {
  width: 100%;
}
.measurement-list-card .measurement-chart img {
  width: 100%;
}
.no-wrap {
  white-space: nowrap;
}
.measurement-list-card .services-list {
  width: 100%;
}
.no-service-box {
  margin: 60px auto;
  text-align: center;
}
.no-service-box .btn {
  margin-top: 30px;
  width: 84px;
  align-items: center;
}
.no-service-box p {
  color: #6a7383;
  font-size: 12px;
}
.charts-cards-container .card {
  min-height: 360px;
}

.consults-chart .chart-content {
  font-size: 13px;
}
.charts-cards-container .services-list-card.workshops {
  grid-column: span 2;
}
.consults-list-card .services-list {
  width: 100%;
  margin-top: 20px;
}
.consults-chart {
  width: 100%;
}
.consults-chart img {
  max-width: 100%;
}
.news-list-card .news-content {
  margin-top: 20px;
  margin-left: 10px;
}
.news-list-card .news-content .news-img {
  width: 120px;
  margin-left: 10px;
}
.news-list-card .news-content .news-img img {
  width: 100%;
  vertical-align: middle;
}
.read-more {
  color: #1b8354;
  text-decoration-line: underline;
}
.news-list-card .news-content h5 {
  margin-top: 10px;
  font-weight: 400;
}
.charts-cards-container.facility-emp .services-list-card .services-list {
  gap: 14px;
}

.available-sessions-container {
  width: 100%;
}
.available-sessions-container .sessions-head {
  justify-content: space-between;
  margin-top: var(--defult-cards-gap);
  margin: 25px 0px;
}
.available-sessions-container .sessions-head h3 {
  color: var(--secondary-text-color);
  font-size: 24px;
}
.available-sessions-container .sessions-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--defult-cards-gap);
}
.available-sessions-container .icon-bg {
  border-radius: 50%;
  padding: 12px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.available-sessions-container .icon-bg img {
  width: 24px;
  height: 24px;
}
.sessions-cards-container .card-head {
  margin-bottom: 15px;
}
.sessions-cards-container .card-head > p {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #1f2a37;
}
.sessions-cards-container .card-head h4 {
  font-size: 20px;
}
.sessions-cards-container .card-content {
  gap: 20px;
}

.sessions-cards-container .card-content div h4 {
  font-size: 11px;
  color: var(--text-display);
  font-weight: 800;
}
.sessions-cards-container .card-content div p {
  color: var(--text-display);
  font-size: 10px;
}
.sessions-cards-container .card-content div .status p {
  color: #1849a9;
}

.booked-session-container {
  margin-top: 25px;
}

.booked-session-container .more-details {
  background-color: #f3f4f6;
  padding: 6px 12px;
}
.booked-session-container .services-list-card .services-list {
  gap: 15px;
}
.btn-disabled {
  background-color: #e5e7eb;
  color: #9da4ae;
  border: none;
}

.orders-beneficiaries-container {
  /* margin-top: 25px; */
  grid-template-columns: 1fr 1fr;
}

.orders-beneficiaries-container .more-details {
  background-color: #f3f4f6;
  padding: 6px 12px;
}
.orders-beneficiaries-container .services-list-card .services-list {
  gap: 15px;
}

.orders-beneficiaries-container .service-item .item {
  width: 450px;
}
.employees-files-container,
.surveys-files-container {
  width: 100%;
  gap: var(--defult-cards-gap);
}
.employees-files-container .sessions-head,
.surveys-files-container .sessions-head {
  justify-content: space-between;
  margin-top: var(--defult-cards-gap);
  margin: 25px 0px;
}
.employees-files-container .sessions-head h3,
.surveys-files-container .sessions-head h3 {
  color: var(--secondary-text-color);
  font-size: 24px;
}
.employees-files-container .employees-cards-container,
.surveys-files-container .surveys-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--defult-cards-gap);
}

.employee-card .card .icon-bg img,
.surveys-card .card .icon-bg img {
  width: 48px;
  height: 48px;
  margin-bottom: 15px;
}
.employee-card .filter-icon,
.surveys-card .filter-icon {
  background-color: white;
  padding: 6px 8px;
  border-radius: var(--sm-border-radius);
  cursor: pointer;
}

.employee-card .filter-icon img,
.surveys-card .filter-icon img {
  vertical-align: middle;
}

.employees-cards-container .status-container,
.surveys-cards-container .status-container {
  margin-top: 20px;
}
.employees-cards-container .status p,
.surveys-cards-container .status p {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
}
.employee-card,
.surveys-card {
  width: 115%;
}

.files-card {
  width: 85%;
}
.files-card .card {
  padding-right: 0;
  padding-left: 0;
}
.section-head {
  justify-content: space-between;
  margin-top: var(--defult-cards-gap);
  margin: 25px 0px;
}
.section-head h3 {
  color: var(--secondary-text-color);
  font-size: 24px;
}
.files-card .card {
  font-family: "Readex Pro";
}
.files-card .files-card-head {
  border-bottom: 3px solid #f4f4f4;
  padding: 0px 12px 17px;
  color: #323130;
  font-size: 14px;
  font-weight: 400;
}
table.files-table {
  width: 100%;
  margin-top: 25px;
  text-align: center;
}
table.files-table thead th > div {
  justify-content: center;
  padding: 0px 8px 11px 12px;
}

table.files-table thead h4 {
  color: #212121;
  font-size: 14px;
  font-weight: 400;
}
table.files-table tr td {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid #f4f4f4;
  padding: 12px 8px 11px 12px;
}
table.files-table tbody tr td:first-child div {
  justify-content: center;
}
table.files-table tbody tr td:first-child div h5 {
  color: #212121;
  font-size: 14px;
  font-weight: 400;
}
table.files-table tr:first-child td {
  border-top: 1px solid #f4f4f4;
}
.surveys-cards-container .status p.date {
  color: #1f2a37;
}

.surveys-card .card .icon-bg {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  margin-bottom: 25px;
}
.surveys-card .card .icon-bg img {
  width: 24px;
  height: 24px;
}
.surveys-card .card .status {
  margin-left: 7px;
}

.quick-links-container {
  width: 100%;
}
.quick-links-container .sessions-head {
  justify-content: space-between;
  margin-top: var(--defult-cards-gap);
  margin: 25px 0px;
}
.quick-links-container .sessions-head h3 {
  color: var(--secondary-text-color);
  font-size: 24px;
}
.quick-links-container .sessions-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--defult-cards-gap);
}
.quick-links-container .icon-bg {
  border-radius: 50%;
  padding: 12px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.charts-cards-container.facility-emp .chart,
.charts-cards-container.booked-session-container .chart {
  max-width: 220px;
  margin: auto;
}
.charts-cards-container.facility-rep .chart {
  max-width: 300px;
  margin: auto;
}
.charts-cards-container.facility-rep .chart.sessions {
  max-width: 220px;
}
.charts-cards-container.facility-rep .measurement-chart {
  max-width: 550px;
}
.charts-cards-container.facility-rep .measurement-chart p {
  font-size: 10px;
  color: #687588;
  white-space: nowrap;
}
.charts-cards-container.facility-rep .measurement-chart .ratio {
  font-size: 9px;
}
.charts-cards-container.facility-rep .measurement-chart .chart-footer {
  margin-top: 20px;
}

/* ------------start consultant services details------------------ */
.primary-cards .con-card.card-shadow {
  border: none;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}
.primary-cards.services-cards {
  margin-bottom: 30px;
}
.primary-cards .disabled-card {
  background-color: #e5e7eb;
}
.primary-cards .disabled-card h5,
.primary-cards .disabled-card p {
  color: #9da4ae !important;
}
.primary-cards .disabled-card .icon-img {
  filter: brightness(0) saturate(100%) invert(69%) sepia(9%) saturate(291%)
    hue-rotate(176deg) brightness(92%) contrast(96%);
}
.cards-container.sessions-timeline {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--defult-cards-gap);
}
.card-head.head-nav {
  border-bottom: 3px solid #d2d6db;
  padding-bottom: 5px;
  margin-top: 10px;
}
.card-head.head-nav div h6 {
  color: #384250;
  font-size: 14px;
  font-weight: 500;
  padding-left: 2px;
}
.card-head.head-nav div {
  position: relative;
  cursor: pointer;
}
.card-head.head-nav div.active::after,
.card-head.head-nav div:hover::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #1b8354;
  bottom: -7.5px;
  right: 0;
  position: absolute;
}
.card-head.head-nav div.active h6 {
  color: #161616;
}
.card-head.head-nav div.active img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(17%) saturate(626%)
    hue-rotate(341deg) brightness(95%) contrast(83%);
}
.sessions-timeline .card-content > div:first-child {
  margin: 25px 0px;
}
.sessions-timeline .card-content .functions-btn {
  border: 1px solid #d2d6db;
  border-radius: var(--sm-border-radius);
  padding: 4px;
}
.sessions-timeline .card-content .functions-btn {
  background-color: #fff;
}
.sessions-timeline .card-content .functions-btn.selected {
  background-color: #e5e7eb;
}

.sessions-timeline .table tbody tr td:last-child > div {
  justify-content: flex-end;
}
table .status {
  padding: 3px 8px;
}
.card-head-border {
  border-bottom: 3px solid #d2d6db;
  padding-bottom: 10px;
}
.timeline .time {
  background-color: #f9fafb;
  border: solid 1px #e5e7eb;
  padding: 2px 8px;
  border-radius: var(--sm-border-radius);
  width: fit-content;
  font-size: 12px;
}
.timeline-item {
  padding: 5px 10px 5px 0px;
  border-radius: var(--sm-border-radius);
  /* border-right: 4px solid #067647; */
  position: relative;
  margin-bottom: 10px;
  background-color: #f9fafb;
}
.timeline-item::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 4px;
  top: 0px;
  right: 0;
  border-radius: 15px;
  background-color: #9da4ae;
}
.timeline-item.success {
  background-color: #f7fdf5;
}
.timeline-item.success::before {
  background-color: #067647;
}
.timeline-item.error {
  background-color: #fef3f2;
}
.timeline-item.error::before {
  background-color: #b42318;
}
.timeline-item button {
  border: 1px solid #d2d6db;
  padding: 2px 5px;
  border-radius: var(--sm-border-radius);
}
.timeline-item button.disabled {
  background-color: #e5e7eb;
}
.timeline-item button.disabled img {
  filter: brightness(0) saturate(100%) invert(74%) sepia(11%) saturate(252%)
    hue-rotate(176deg) brightness(87%) contrast(85%);
}

.timeline-item .btn {
  color: #fff;
  padding: 2px 9px;
  margin-left: 15px;
}
.timeline-item .btn p {
  font-size: 11px;
  font-weight: 400;
}

.table.sessions-dates-table thead tr th div {
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.table.sessions-dates-table thead tr th:last-child {
  border-top-right-radius: 5px;
  border-right: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  font-size: 16px;
  font-weight: 600;
}
.table.sessions-dates-table tbody td {
  border: 1px solid #e8e8e8;
  border-top: none;
  border-right: none;
  padding: 12px;
}
.table.sessions-dates-table tbody tr:first-child td {
  color: #484848;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}
.table.sessions-dates-table tbody tr td:first-child {
  border-left: 1px solid #e8e8e8;
}
.table.sessions-dates-table tbody tr:not(:first-child) td {
  height: 120px;
  color: #484848;
  font-size: 18px;
  font-weight: 500;
}
.table.sessions-dates-table tbody tr:not(:first-child) td > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.table.sessions-dates-table .time {
  border-radius: 4px;
  background: #dff6e7;
  padding: 4px 12px;
  color: #161616;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  width: fit-content;
  cursor: pointer;
}
.table.sessions-dates-table .time.disabled {
  background: #f4f4f4;
  color: #a0a5b0;
  cursor: default;
}
.table.sessions-dates-table tbody tr:hover {
  background-color: transparent;
}

/* ---------------end consultant services details-------------------------- */

/* -------------- End main ----------------------  */

/* for medium screen */
@media screen and (max-width: 1710px) {
  .consults-chart {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1610px) {
  .orders-beneficiaries-container .service-item .item {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    gap: 5px;
  }
}
@media screen and (max-width: 1570px) {
  .booked-session-container {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  .booked-session-container .consults-chart {
    flex-direction: row;
  }
}
@media screen and (max-width: 1400px) {
  .charts-cards-container.facility-emp {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  .consults-chart {
    flex-direction: row;
  }
}

@media screen and (max-width: 1366px) {
  .charts-cards-container .card-head h3,
  .workshops-container .workshop-head h3 {
    font-size: 20px;
  }
  .workshops-cards-container .card-head h4 {
    font-size: 16px;
  }
  .charts-cards-container .services-list .service-item h6 {
    font-size: 14px;
    white-space: nowrap;
  }
  .services-list .service-item {
    gap: 5px;
  }
  .consults-charts-content div {
    gap: 10px;
  }
  .header h2 {
    font-size: 24px;
  }
  .header .search {
    width: 200px;
  }
  .header .user-info {
    width: 150px;
  }

  .workshops-cards-container .card-content div .status p {
    white-space: nowrap;
  }
  .header .user-info {
    gap: 7px;
  }
  .header .user-info h5,
  .services-list .service-item p {
    white-space: nowrap;
  }
  .sidebar-container .menu-content ul li a {
    font-size: 15px;
  }
  .card .consults-content {
    gap: 5px;
  }
  .orders-beneficiaries-container {
    grid-template-columns: 1fr;
  }
  .employees-files-container .employees-cards-container,
  .surveys-files-container .surveys-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .employees-files-container,
  .surveys-files-container {
    flex-direction: column;
  }
  .employee-card,
  .files-card,
  .surveys-card {
    width: 100%;
  }
  .orders-beneficiaries-container .service-item .item {
    flex-direction: row;
    width: 450px;
  }
  .cards-container.sessions-timeline {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1208px) {
  .header {
    margin-left: 0;
    margin-right: 0;
  }
  .header .path {
    display: none;
  }
  .sidebar-container {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 3;
  }
  .sidebar-container .sub-menu-list li a:hover::after,
  .sidebar-container .sub-menu-list li a.active::after {
    width: 109%;
  }

  .collapse-icon {
    display: none;
  }
  .sm-screen-close-icon {
    display: block;
  }
  .overlay-bg {
    display: none;
    background-color: #21252952;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
  }
  .stop-scroll {
    height: 100vh;
    overflow: hidden;
  }
  .collapsed-sidebar {
    display: none;
  }
  .header .logo-menu-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .header .search {
    display: none;
  }
  .header .search-icon {
    display: block;
  }
  .header .user-info h5 {
    display: none;
  }
  .header .user-info {
    width: 70px;
    justify-content: space-between;
  }
  .main-container .statistics-cards-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main-container .charts-cards-container {
    grid-template-columns: 1fr;
    column-gap: 0;
    /* grid-template-rows: 1fr 1fr 1fr; */
  }

  .main-container .workshops-cards-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .charts-cards-container .measurement-list-card {
    grid-column: span 1;
  }

  .available-sessions-container .sessions-cards-container,
  .quick-links-container .sessions-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* for small/mobile screen  */
@media screen and (max-width: 767px) {
  .header .search-icon,
  .header .language,
  .header .user-functions > img {
    display: none;
  }

  .main-container .statistics-cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .main-container .workshops-cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .charts-cards-container .measurement-list-card > div:nth-child(3) {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }
  .charts-cards-container .measurement-list-card .services-list {
    width: 100%;
  }
  .charts-cards-container .services-list-card.workshops .workshops-list {
    flex-direction: column;
  }
  .consults-chart {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .available-sessions-container .sessions-cards-container,
  .quick-links-container .sessions-cards-container {
    grid-template-columns: 1fr;
  }
  .orders-beneficiaries-container .service-item .item {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  .employees-files-container .employees-cards-container {
    grid-template-columns: 1fr;
  }
  .surveys-cards-container {
    grid-template-columns: 1fr !important;
  }
}
/* ----------------------- */
/* -------------------------- */

.hide {
  display: none;
}
.show {
  display: block;
}

/* ----title page---- */

.title-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.0625rem;
  margin-bottom: 2rem;
}
.title-page .title {
  display: flex;
  align-items: center;
  gap: 16px;
}
.title-page .btn-icon {
  border: solid 1px #d2d6db;
  background-color: #fff;
  padding: 8px;
  min-width: 32px;
  display: flex;
}
.title-page .btn-icon:hover {
  background-color: #f3f4f6;
}
.title-page img {
  height: 16px;
  width: 16px;
}
.title-page .title h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #484848;
}

.cta {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* ----title page---- */

/* --buttons-- */

.btn-icon {
  background-color: transparent;
  border: solid 1px transparent;
  padding: 0px;
}

.btn-primary-icon {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: #1b8354;
  color: #fff;
  border: solid 1px transparent;
  transition: background-color 0.3s ease-in-out;
  display: block;
}
.btn-primary img {
  height: 16px;
  width: 16px;
}
.btn-primary:hover {
  background-color: #166a45;
}
.btn-primary-text {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #1b8354;
  border: solid 0px;
  color: #fff;
  border: solid 1px transparent;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 6px;
}
.btn-primary-text img {
  height: 24px;
  width: 24px;
}
.btn-primary-text:hover {
  background-color: #166a45;
}
.btn-secondary-outline {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #ffff;
  color: #161616;
  border: solid 1px #d2d6db;
  transition: background-color 0.3s ease-in-out;
  display: block;
}
.btn-secondary-outline img {
  height: 16px;
  width: 16px;
}
.btn-secondary-outline:hover {
  background-color: #f3f4f6;
}

/* --buttons-- */

/* -------------cards---------------Mlewis- */

.card-title {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 1.5rem;
}

.card-title h5 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.card-title .title-btn {
  display: flex;
  gap: 16px;
}

.card-title .title-btn .view-all {
  font-size: 14px;
  color: #6a7383;
}

.card-title .title-btn button {
  display: flex;
  background-color: #fff;
  border: solid 1px #d2d6db;
  border-radius: 4px;
  padding: 6px;
}

.card-title .title-btn button.selected,
.card-title .title-btn button:hover {
  border: solid 1px #d2d6db;
  background-color: #e5e7eb;
}

/* ----------Pagination----------- */

.cardfooter {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px 0px;
  margin-top: 16px;
}

.cardfooter .btn {
  font-size: 0.875rem;
}

.cardfooter .pagination {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.cardfooter .form-group {
  font-size: 12px;
  color: #404042;
}

.cardfooter .form-group label {
  margin: 0;
  margin-right: 5px;
}

.cardfooter .form-group select {
  font-size: 0.875rem;
  border-radius: 8px;
}

nav p {
  font-size: 12px;
  color: #404042;
}

nav .pagination .page-item .page-link {
  display: flex;
  border: 0px solid;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
  color: #161616;
  padding: 5px;
}

nav .pagination .page-item .page-link:hover {
  border-color: #569a38;
  box-shadow: none !important;
  border-bottom: solid 4px #569a38;
  padding-bottom: 2px;
}

nav .pagination .page-item .page-link:focus {
  border: none;
  box-shadow: none;
}

nav .pagination .page-item .Next {
  padding: 4px;
}

nav .pagination .page-item .Next i.next-io {
  transform: scaleX(-1);
  display: block;
  background-image: url(../../saso/assets/images/next.svg);
  height: 20px;
  width: 20px;
}

nav .pagination .page-item .Next:hover {
  border: none;
}

nav .pagination .page-item .Previous {
  padding: 4px;
}

nav .pagination .page-item .Previous i.previous-io {
  transform: scaleX(-1);
  display: block;
  background-image: url(../../saso/assets/images/Previous.svg);
  height: 20px;
  width: 20px;
}

nav .pagination .page-item .Previous:hover {
  border: none;
}

nav .pagination .page-item.active .page-link {
  border-bottom: solid 4px #569a38;
  padding-bottom: 2px;
}

nav .pagination .more .page-link {
  border: solid 1px #161616 !important;
  border-radius: 4px;
  padding-bottom: 2px;
}

/* ---------Table------------- */

/* -ar- */

.table-responsive {
  contain: inline-size;
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  direction: rtl;
  margin-bottom: 0px;
}

.table thead tr th {
  background-color: #f3f4f6;
  padding: 15px 16px;
  border-top: solid 1px #e5e7eb;
  font-size: 0.75rem;
  color: #384250;
  text-align: start;
}

.table thead tr th:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 0;
  border-right: solid 1px #e5e7eb;
  border-left: 0;
}

.table thead tr th:last-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 0;
  border-left: solid 1px #e5e7eb;
  border-right: 0;
  text-align: end;
}

.table tbody tr {
  transition: background-color 0.2s;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #e3e6ea;
  overflow: hidden;
  width: 100%;
}

.table tbody tr:hover {
  background-color: #f8f9fa; /* Adjusted as CSS doesn't support lighten directly */
}

.table tbody tr td {
  padding: 16px;
  text-align: start;
  align-content: center;
  border-bottom: solid 1px #e5e7eb;
  width: max-content;
}

.table tbody tr td:first-child {
  border-right: solid 1px #e5e7eb;
  border-left: 0;
}

.table tbody tr td:last-child {
  border-left: solid 1px #e5e7eb;
  border-right: 0;
}

.table tbody tr td input[type="checkbox"] {
  width: 22px;
  height: 22px;
  border: 1px solid #ccc;
  appearance: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: flex;
}

.table tbody tr td input[type="checkbox"]:checked {
  background-color: #19697c;
  border-color: #19697c;
  background-image: url("../images/ok.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.table tbody tr td .twoline p {
  font-size: 16px;
  font-weight: 500;
  color: #2d2b2b;
  margin: 0;
  width: max-content;
}

.table tbody tr td .twoline span {
  font-size: 14px;
  font-weight: 400;
  color: #7d8493;
}

.table tbody tr td .time {
  display: flex;
  gap: 8px;
}

.table tbody tr td .time span.dates-tag {
  background-color: #f9fafb;
  border: solid 1px #e5e7eb;
  padding: 3px 8px;
  border-radius: 4px;
  color: #1f2a37;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row-reverse;
  width: max-content;
}

.table tbody tr td .time span.dates-tag i.clock {
  background-image: url(../../saso/assets/images/clock.svg);
  height: 14px;
  width: 14px;
  display: block;
}

.table tbody tr td .text p {
  font-size: 16px;
  font-weight: 400;
  color: #161616;
  width: max-content;
}

.table tbody tr td .stauts p {
  padding: 4px 12px;
  border-radius: 50px;
  width: fit-content;
  margin: 0;
  font-size: 14px;
}

.table tbody tr td .stauts p.stauts-1 {
  background-color: #fff7de;
  color: #ee8d20;
}

.table tbody tr td .communication {
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
}

.table tbody tr td .communication span.webex-tag {
  background-color: #e7f1ff;
  border: solid 1px #b2ddff;
  padding: 3px 8px;
  border-radius: 4px;
  color: #1849a9;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row-reverse;
}

.table tbody tr td .communication span.webex-tag i.video-call {
  background-image: url(../../saso/assets/images/vcall.svg);
  height: 14px;
  width: 14px;
  display: block;
}

.table tbody tr td .communication i.location {
  display: block;
  height: 16px;
  width: 16px;
  background-image: url(../../saso/assets/images/location.svg);
}

.table tbody tr td .communication p {
  font-size: 16px;
  font-weight: 600;
  color: #6a7383;
  margin: 0;
}

.table tbody tr td .action-table {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.table tbody tr td .action-table .btn {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
  width: max-content;
  box-shadow: none;
  border: 0;
  display: flex;
}

.table tbody tr td .action-table .btn.primary {
  background-color: #1b8354;
  color: #fff;
}

.table tbody tr td .action-table .btn.primary:hover {
  background-color: #166a45;
}

.table tbody tr td .action-table .btn.neutral {
  background-color: #0d121c;
  color: #fff;
}

.table tbody tr td .action-table .btn.neutral:hover {
  background-color: #1f2a37;
}

.table tbody tr td .action-table .btn.btn-sco {
  background-color: #cfd2d3;
  color: #2d2b2b;
}

.table tbody tr td .action-table .btn.btn-sco:hover {
  background-color: #f3f3f3;
}

.table tbody tr td .action-table .btn.more {
  background-color: transparent;
  border: solid 1px #d2d6db;
  padding: 0.375rem;
}

.table tbody tr td .action-table .btn.more img {
  height: 20px;
  width: 20px;
}

.table tbody tr td .action-table .btn.more svg {
  fill: #1d1b20;
}

.table tbody tr td .action-table .btn.more:hover {
  background-color: #f3f3f3;
  border-radius: 4px;
}

.table tbody tr:last-child td:first-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0;
}

.table tbody tr:last-child td:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0;
}

/* Media Query for responsiveness */
@media (max-width: 1024px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .cardfooter {
    justify-content: center !important;
  }

  .cardfooter .form-group {
    display: none !important;
  }

  .pag-table p {
    display: none;
  }

  .pag-table ul {
    padding: 0 !important;
  }
}
/* ---------------------- */

/* ----------primary-cards----------- */

.primary-cards .row {
  margin-left: -8px;
  margin-right: -8px;
}

.primary-cards .row:first-child {
  margin-top: -20px;
}

.primary-cards .con-card {
  border-radius: 16px;
  padding: 1rem;
  margin-top: 20px;
  background-color: white;
  /* box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06); */
  border: 1px solid var(--Border-border-neutral-primary, #d2d6db);
}
.primary-cards .con-card.card-shadow {
  border: none;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}
.primary-cards .con-card .card-body {
  padding: 0;
}
.primary-cards .con-card .icon-container {
  margin-bottom: 1.5rem;
  background: #f3fcf6;
  border-radius: 100px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary-cards .con-card .icon-container .icon-img {
  -o-object-fit: contain;
  object-fit: contain;
}
.primary-cards .con-card .title {
  color: #303030;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.primary-cards .con-card .text {
  font-size: 1rem;
  font-weight: 300;
  color: #333333;
  margin-bottom: 1.5rem;
}
.primary-cards .con-card .btn-primary {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 0.9rem;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: #1b8354;
  border: solid 0px;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
.primary-cards .con-card .btn-primary img {
  height: 16px;
  width: 16px;
}
.primary-cards .con-card .btn-primary:hover {
  background-color: #166a45;
}
.primary-cards .con-card .btn-primary-text {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #1b8354;
  border: solid 0px;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
.primary-cards .con-card .btn-primary-text img {
  height: 16px;
  width: 16px;
}
.primary-cards .con-card .btn-primary-text:hover {
  background-color: #166a45;
}
.primary-cards .con-card:hover {
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}
.primary-cards .con-card.disabled {
  opacity: 0.5;
}
.primary-cards .con-card.disabled a {
  cursor: not-allowed;
}
.primary-cards .active {
  border: 2px solid #1f2a37;
}

.primary-cards.border-solid-none .con-card {
  border: solid 0px !important;
  margin-bottom: 24px;
}
.primary-cards.shadow .con-card {
  border: solid 1px transparent !important;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06) !important;
}
.primary-cards.shadow .con-card:hover {
  border: 1px solid var(--Border-border-neutral-primary, #d2d6db) !important;
  box-shadow: none !important;
}
.border-solid-none .con-card .text {
  margin-bottom: 0px !important;
}
.primary-cards.border-solid-none .con-card .title {
  margin-bottom: 0.5rem;
}
/* -------------cards---------------Mlewis- */

/* -------------tabs---------------Mlewis- */
.service-title h5 {
  color: #161616;
  font-family: "IBM Plex Sans Arabic";
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.service-description {
  display: flex;
  gap: 64px;
  margin-left: 48px;
}
.service-description p {
  color: #1f2a37;
  font-family: "IBM Plex Sans Arabic";
  font-size: 18px;
  font-weight: 300;
}
.service-description .plan-card {
  background-color: #f3fcf6;
  border: solid 1px #067647;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  gap: 20px;
  min-width: max-content;
  height: fit-content;
}
.service-description .plan-card img {
  height: 3.25rem;
  width: 3.25rem;
}
.service-description .plan-card .text span {
  font-size: 18px;
  font-weight: 500;
  color: #6a7383;
}
.service-description .plan-card .text p {
  font-size: 18px;
  font-weight: 600;
  color: #161616;
}

/* Tabs Styles */

.tab-buttons {
  display: flex;
  gap: 32px;
  margin: 32px 0px;
}

.tab-btn {
  cursor: pointer;
  background-color: transparent;
  padding-bottom: 8px;
  border: solid 0px;
  border-radius: 0px;
  border-bottom: solid 3px transparent;
  color: #384250;
  font-family: "IBM Plex Sans Arabic";
  padding: 16px 0px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;
}
.tab-btn i.icon-tab {
  background-image: url(../assets/images/tabs-icon.svg);
  background-repeat: no-repeat;
  display: block;
  height: 15px;
  width: 15px;
}
.tab-btn i.icon-related {
  background-image: url(../assets/images/icon-related.svg);
  background-repeat: no-repeat;
  display: block;
  height: 15px;
  width: 15px;
}

.tab-btn.active,
.tab-btn:hover {
  background-color: transparent;
  border: solid 0px;
  border-radius: 0px;
  border-bottom: solid 3px #1b8354;
  color: #161616;
  font-family: "IBM Plex Sans Arabic";
  font-size: 14px;
  font-weight: 600;
}

/* Tab Content */
.tab {
  display: none;
}
.tab.active {
  display: block;
}

/* Collapsible Styles */
/* Accordion Styles */
.accordion {
  background: #fff;
  overflow: hidden;
}

.accordion-item {
  border-top: 1px solid #d2d6db;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-header {
  background-color: transparent;
  color: #1f2a37;
  cursor: pointer;
  padding: 16px;
  border: none;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-family: "IBM Plex Sans Arabic";
  transition: background-color 0.3s ease;
  display: flex;
  border: solid 1px transparent;
}

.accordion-header:focus {
  border: solid 1px #1f2a37;
  box-shadow: none;
}

.accordion-item:has(.accordion-content.open) {
  background-color: #e5e7eb;
}

.accordion-header:hover {
  background-color: #e5e7eb;
}
.accordion-header::after {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: auto;
  content: "";
  background-image: url(../assets/images/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  transition: transform 0.2s ease-in-out;
}

.accordion-item:has(.accordion-content.open) .accordion-header::after {
  transform: rotate(180deg);
}

.accordion-content {
  padding: 16px;
  background-color: #fff;
  display: none;
  border-top: 1px solid #ddd;
  padding-left: 48px;
}

.accordion-content p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #1f2a37;
  line-height: 24px;
}
.accordion-content .cta {
  justify-content: end;
  margin-top: 24px;
  margin-bottom: 24px;
}
.accordion-content .cta button {
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
}

/* Open State for Content */
.accordion-content.open {
  display: block;
}

.accordion-content ul li {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.accordion-content ul li i.icon-url {
  background-image: url(../assets/images/icon-url.svg);
  height: 16px;
  width: 16px;
  display: block;
}

.accordion-content ul.url-list li:first-child {
  margin-top: 0px;
}

.accordion-content ul.url-list li a {
  font-size: 16px;
  font-weight: 400;
  color: #1b8354;
  text-decoration: underline;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  position: relative;
}

.modal-dialog-centered {
  margin: auto;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: start;
}
.modal-footer {
  display: flex;
  align-items: start;
  gap: 8px;
}
.modal-footer .btn {
  font-size: 16px;
  font-weight: 400;
  padding: 6px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.modal-footer .btn i.leading-icon-w {
  background-image: url(../assets/images/Leading-Icon-w.svg);
  display: block;
  height: 20px;
  width: 20px;
}
.modal-footer .btn i.leading-icon-b {
  background-image: url(../assets/images/Leading-Icon-b.svg);
  display: block;
  height: 20px;
  width: 20px;
}
.modal-header .btn-close {
  padding: 0;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.modal-header img {
  background-color: #f9fafb;
  border-radius: 100px;
  padding: 10px;
  height: 40px;
  width: 40px;
}
.modal-header .btn-close i.icon-close {
  display: block;
  height: 16px;
  width: 16px;
  background-image: url(../assets/images/close-modal-icon.svg);
  background-repeat: no-repeat;
}

.modal-footer {
  border-bottom: none;
}

.modal-title {
  margin: 0;
  font-size: 1.25rem;
}

.modal-body h5 {
  font-size: 18px;
  font-weight: 600;
  color: #1f2a37;
  margin: 8px 0px;
  text-align: end;
}
.modal-body p {
  font-size: 14px;
  font-weight: 400;
  color: #384250;
  margin-bottom: 16px;
  text-align: end;
}

/* Open Modal Transition */
.modal.show {
  display: flex;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* -------------tabs---------------Mlewis- */
