@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:wght@100..900&family=Suez+One&display=swap");
:root {
  --primary-bg-color: #f8faff;
  --secondary-bg-color: white;
  --defult-border-radius: 7px;
  --primary-text-color: #575656;
  --secondary-text-color: #0091b4;
  --light-gray-color: #5756568c;
  --blue-image-filter: brightness(0) saturate(100%) invert(40%) sepia(37%)
    saturate(4683%) hue-rotate(166deg) brightness(92%) contrast(101%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
  color: var(--primary-text-color);
}
.container {
  display: grid;
  grid-template-areas:
    "sidebar header "
    "sidebar main ";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.blue-text {
  color: var(--secondary-text-color);
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
.space-btw {
  justify-content: space-between;
}
/* ---------------Start sidebar menu --------------- */
.sidebar-container {
  grid-area: sidebar;
  width: 300px;
  background-color: var(--secondary-bg-color);
}
.sidebar-container .sidebar-head {
  padding: 40px 30px;
  border-bottom: 1px solid #5756561c;
  justify-content: space-between;
}
.sidebar-container .logo {
  cursor: pointer;
}
.sidebar-container .collapse-icon {
  cursor: pointer;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.sidebar-container .menu-content {
  padding: 30px;
  gap: 10px;
  line-height: 2.5;
}
.sidebar-container .menu-content ul li a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--primary-text-color);
}
.sidebar-container .menu-content ul li a:hover {
  color: var(--secondary-text-color);
}
.sidebar-container .menu-content ul li a:hover img {
  filter: var(--blue-image-filter);
}
.sidebar-container .menu-content ul li a.active {
  color: var(--secondary-text-color);
  position: relative;
}
.sidebar-container .menu-content ul li a.active::before {
  position: absolute;
  content: "";
  background-color: var(--secondary-text-color);
  width: 6px;
  height: 100%;
  top: 0;
  left: -30px;
}
.sidebar-container .menu-content ul li a.active img {
  filter: var(--blue-image-filter);
}
.sidebar-container .menu-content h5 {
  margin-top: 10px;
  color: var(--light-gray-color);
}
.sidebar-container .sub-menu-list {
  gap: 12px;
}
/* ----start collapsed sidebar--------  */
.collapsed-sidebar {
  grid-area: sidebar;
  width: 100px;
  background-color: var(--secondary-bg-color);
}
.collapsed-sidebar .sidebar-head {
  width: 100%;
  padding: 40px 30px;
  border-bottom: 1px solid #5756561c;
  display: flex;
  justify-content: center;
}

.collapsed-sidebar .collapse-icon {
  cursor: pointer;
}
.collapsed-sidebar .menu-content {
  padding: 30px;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
.collapsed-sidebar .menu-content ul li a {
  display: flex;
  margin-bottom: 15px;
}

.collapsed-sidebar .menu-content ul li a.active img {
  filter: var(--blue-image-filter);
}
.collapsed-sidebar .menu-content h5 {
  margin-top: 10px;
  color: var(--light-gray-color);
}
.collapsed-sidebar ul li a:hover img {
  filter: var(--blue-image-filter);
}
.sm-screen-close-icon {
  cursor: pointer;
  display: none;
}
/* ----end collapsed sidebar--------  */
/* ---------------End sidebar menu -----------------  */

/* ---------- Start header -----------------  */
.header {
  grid-area: header;
  height: 120px;
  margin: 0 15px 20px;
  background-color: var(--secondary-bg-color);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 20px;
  justify-content: space-between;
}
.header .path {
  text-wrap: nowrap;
  margin-right: 10px;
}
.header .path p {
  color: var(--light-gray-color);
  display: flex;
  flex-direction: row-reverse;
  direction: rtl;
  gap: 5px;
}
.header .path a.active {
  color: var(--secondary-text-color);
}
.header .user-functions {
  gap: 20px;
}
.header .search {
  padding: 5px 15px;
  border: 1px solid #e4e4e4;
  border-radius: var(--defult-border-radius);
  width: 300px;
}
.header .search input {
  margin-left: 7px;
  border: none;
  width: 100%;
}
.header .search input::placeholder {
  color: var(--light-gray-color);
}
.header .language {
  border: 1px solid #e4e4e4;
  padding: 5px;
  border-radius: var(--defult-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
.header .language select {
  border: none;
  appearance: none;
}
.header .language select:focus,
.header .search input:focus {
  outline: none;
}
.header .user-info {
  width: 180px;
  justify-content: space-between;
  cursor: pointer;
}
.header .user-info div {
  gap: 10px;
}
.header .user-functions > img {
  cursor: pointer;
}
.header .user-functions .user-img-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../assets/images/user-bg.png");
  background-size: 100% 100%;
}
.header .user-functions .user-img-bg .user-img {
  width: 100%;
}
.header .search-icon {
  display: none;
}
.header .logo-menu-icons {
  display: none;
}
/* --------- End header ------------------  */

/* -------------- Start main ----------------------  */
.main-container {
  grid-area: main;
  margin: 0 15px 30px;
}
.main-container .card {
  background-color: var(--secondary-bg-color);
  border-radius: var(--defult-border-radius);
  /* width: fit-content; */
  padding: 20px;
}
/* -------------- End main ----------------------  */

/* for medium screen */
@media screen and (max-width: 1270px) {
  .header .search {
    width: 200px;
  }
  .header .user-info {
    width: 150px;
  }
  .sidebar-container {
    width: 250px;
  }
}
@media screen and (max-width: 1300px) {
  .sidebar-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 400px;
    height: 100vh;
    z-index: 3;
  }
  .collapse-icon {
    display: none;
  }
  .sm-screen-close-icon {
    display: block;
  }
  .overlay-bg {
    display: none;
    background-color: #21252952;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
  }
  .stop-scroll {
    height: 100vh;
    overflow: hidden;
  }
  .collapsed-sidebar {
    display: none;
  }
  .header .logo-menu-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
  }
  .header .search {
    display: none;
  }
  .header .search-icon {
    display: block;
  }
  .header .user-info h5 {
    display: none;
  }
  .header .user-info {
    width: 70px;
    justify-content: space-between;
  }
}

/* for small/mobile screen  */
@media screen and (max-width: 767px) {
  .header .path,
  .header .search-icon,
  .header .language,
  .header .user-functions > img {
    display: none;
  }

  .sidebar-container {
    min-width: 300px;
  }
}
/* ----------------------- */
/* -------------------------- */

.hide {
  display: none;
}
.show {
  display: block;
}
